/////////////////////
//Logo



/////////////////////
// Navigation


/////////////////////
//Legal text


/////////////////////
//Gallery

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}


/////////////////////
// Paraghraph
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}



